<!DOCtype html>
<html>

<head>
    <meta charset="utf-8">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <style>
        input {
            width: 300px;
        }

        p {
            padding: 10px 5px;
            margin: 0;
        }

        .auth {
            border-top: 1px solid black;
        }

        .container {
            border: 2px solid gray;
            margin: 15px;
        }
    </style>
</head>

<body>
    <input type="text" class="search-box">
    <button onclick="search()">搜素</button>
    <input type="text" class="link-box" placeholder="http://">
    <button onclick="showlinkresult()">显示链接结果</button>
    <a href="/register" target="_blank">注册</a>
    <a href="/login" target="_blank">登录</a>
    <div class="main"></div>
    <script>
        function showlinkresult() {
            var data = document.querySelector(".link-box").value;
            $.ajax({
                url: "/searchlink",
                type: 'POST',
                data: data,
                success: function (data) {
                    console.log(data)
                    var num = 0;
                    var main = document.querySelector(".main");
                    main.innerHTML = '';
                    while (data[num.toString()]) {
                        var auth = document.createElement("p");
                        auth.setAttribute("class", "auth")
                        var content = document.createElement("p");
                        content.setAttribute("class", "content");
                        var containner = document.createElement("div");
                        containner.setAttribute("class", "container");
                        auth.innerHTML = data[num.toString()][0];
                        var numth = document.createElement("p");
                        numth.innerHTML = '#' + (num + 1) + ':';
                        content.innerHTML = data[num.toString()][1];
                        containner.appendChild(numth);
                        containner.appendChild(auth);
                        containner.appendChild(content);
                        main.appendChild(containner);
                        num++;
                    }
                }
            })

        }

        function search() {
            var searchTarget = document.querySelector(".search-box").value;
            $.ajax({
                url: "/search",
                type: 'POST',
                data: searchTarget,
                success: function (data) {
                    document.querySelector(".main").innerHTML = data;
                }
            })
        }

        //http://bbs.mycraft.cc/search.php?searchsubmit=yes&mod=forum&formhash=31aee165&srchtype=title&srhfid=&srhlocality=forum%3A%3Aindex&srchtxt=%E9%B8%A1&searchsubmit=true
    </script>
</body>

</html>