<!doctype html>
<html>

<head>
    <meta charset="uft-8">
    <style>
        .email {
            margin-left: 16px;
        }

        input[type='submit'] {
            margin-left: 130px;
        }
    </style>
</head>

<body>
    <form method="POST" action='/findpw'>
        <label class="user">用户名：
            <input type="text" name="user" value="" autocomplete="off" maxlength="20">
        </label>

        <br>
        <label class="email">邮箱：
            <input type="email" name="email" value="" autocomplete="off" maxlength="30">
        </label>
        <br>
        <br>
        <input type="submit" value="提交">
    </form>



    <script>
        var button = document.querySelector("input[type='submit']")
        button.onclick = function (event) {
            event.preventDefault()
            if (document.querySelector("input[name='user']").value === "") {
                alert("用户名不能为空")
                return
            }
            if (document.querySelector("input[name='email']").value === "") {
                alert("邮箱不能为空")
                return
            }
            email = document.querySelector("input[name='email']").value;
            var reg = /^[a-z0-9]+([._\\-]*[a-z0-9])*@([a-z0-9]+[-a-z0-9]*[a-z0-9]+.){1,63}[a-z0-9]+$/;
            if (!reg.test(email)) {
                alert("请填入正确的邮箱")
                return
            }
            document.querySelector("form").submit();
        }
    </script>
</body>

</html>