 
body {
    margin: 0;
}

.firstpage {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.layer {
    height: 100%;
    float: left;
    width: 100%;
}

.gallery {
    float: left;
    height: 100%;
    width: 100%;
}

.none {
    opacity: 0;
}

.slide {
    height: 100vh;
    transform: translate(0,0);
    animation: picslide 40s ease-in-out infinite backwards;
}

.layers {
    position: absolute;
    height: 100vh;
    width: 100%;
    transform: translate(0,0);
    animation: redslide 8s ease-in-out infinite backwards;
}

@keyframes redslide {
    0% {transform: translate(0,0);}
    25% {transform: translate(0,0);}

    50% {transform: translate(0,-100%);}
    75% {transform: translate(0,-100%);}

    100% {transform: translate(0,-200%);}
}

@keyframes picslide {
    0% {transform: translate(0,0);}
    10% {transform: translate(0,0);}

    15% {transform: translate(0,-100%);}
    25% {transform: translate(0,-100%);}

    30% {transform: translate(0,-200%);}
    40% {transform: translate(0,-200%);}

    45% {transform: translate(0,-300%);}
    55% {transform: translate(0,-300%);}

    60% {transform: translate(0,-400%);}
    70% {transform: translate(0,-400%);}

    75% {transform: translate(0,-500%);}
    85% {transform: translate(0,-500%);}

    90% {transform: translate(0,-600%);}
    100% {transform: translate(0,-600%);}

    
}
/*@keyframes picslide {
    0% {transform: translate(0,0);}
    13.32% {transform: translate(0,0);}

    19.98% {transform: translate(0,-100%);}
    33.3% {transform: translate(0,-100%);}

    39.96% {transform: translate(0,-200%);}
    53.28% {transform: translate(0,-200%);}

    59.94% {transform: translate(0,-300%);}
    73.26% {transform: translate(0,-300%);}

    79.92% {transform: translate(0,-400%);}
    93.24% {transform: translate(0,-400%);}

    100% {transform: translate(0,-500%);}
}
*/

