 
body {
    margin: 0;
    position: relative;
}

.small-logo-container {
    visibility: visible;
    position: absolute;
    z-index: 2;
    background: rgb(230, 0, 18);
}

.small-logo {
    padding: 10px;
    width: 100px;
    height: 40px;
}

.big-logo-container {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 3;
    background: url(../img/01-hero/logo.png) no-repeat center;
    background-size: 310px auto;
    transition: opacity 500ms;
}

.arrow {
    opacity: 0;
    cursor: pointer;
    position: fixed;
    top: calc(95% - 19px);
    left: 46%;
    width: 8%;
    height: 19px;
    z-index: 3;
    background: url(../img/01-hero/arrow.svg) no-repeat center bottom;
    background-size: contain;
    transition: opacity 500ms;
}
.bigbig {
    z-index: 3;
    visibility: visible;
    transition: opacity 500ms;
}


.jshead1 {
    animation: changelogo1 1s linear 1 forwards ;
}
.jshead2 {
    animation: changelogo2 1s linear 1 forwards ;
}
@keyframes changelogo1{
    0% {opacity: 1;}
    100%{opacity: 0;}
}

@keyframes changelogo2 {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.firstpage {
    display: block;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    z-index: 2;
}

.jsselected1 {
    animation: changefirstpage1 0.4s ease-in 1 forwards;
}

.jsselected2 {
    animation: changefirstpage2 0.4s ease-out 1 forwards;
}

@keyframes changefirstpage1 {
    from {top: 0;}
    to {top: -100vh;}
}

@keyframes changefirstpage2 {
    from {top: -100vh;}
    to {top: 0;}
}

.layer {
    height: 100%;
    float: left;
    width: 100%;
}

.gallery {
    float: left;
    height: 100%;
    width: 100%;
}

.none {
    opacity: 0;
}

.slide {
    height: 100vh;
    transform: translate(0,0);
    transform-origin: center;
    animation: picslide 36s ease-in-out infinite backwards;
}

.layers {
    position: absolute;
    height: 100vh;
    width: 100%;
    transform: translate(0,0);
    animation: redslide 6s ease-in-out infinite backwards;
}

@keyframes redslide {
    0% {transform: translate(0,0);}
    50% {transform: translate(0,0);}

    66.66% {transform: translate(0,-100%);}
    83.33% {transform: translate(0,-100%);}

    100% {transform: translate(0,-200%);}
}

@keyframes picslide {
    0% {transform: translate(0,0) scale(1);}
    11.11112% {transform: translate(0,0) scale(1.05); transform-origin: 50% 50%;}

    13.88890% {transform: translate(0,-100%) scale(1); }
    27.77780% {transform: translate(0,-100%) scale(1.05); transform-origin: 50% 150%;}

    30.55558% {transform: translate(0,-200%) scale(1);}
    44.44448% {transform: translate(0,-200%) scale(1.05); transform-origin: 50% 250%;}

    47.22226% {transform: translate(0,-300%) scale(1);}
    61.11116% {transform: translate(0,-300%) scale(1.05); transform-origin: 50% 350%;}

    63.88894% {transform: translate(0,-400%) scale(1);}
    77.77784% {transform: translate(0,-400%) scale(1.05); transform-origin: 50% 460%;} 

    80.55562% {transform: translate(0,-500%) scale(1);}
    94.44452% {transform: translate(0,-500%) scale(1.05); transform-origin: 50% 550%;}

    97.22230% {transform: translate(0,0%) scale(1);}
    100% {transform: translate(0,0%) scale(1.05); transform-origin: 50% 50%;}
}

.secondpage {
    height: 200vh;
    width: 100%;
    background-image: url(../img/02-gallery/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    display: block;
}

.headimg {
    height: 80px;
    background: url(../img/02-gallery/headline-01.png);
    margin-bottom: 16px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center top;
    
}

.headtext {
    background: url(../img/02-gallery/headline-02.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: auto 100%;
    width: 100%;
    height: 24px;
}

.headcontainer {
    position: absolute;
    top: 95vh;
    height: 68px;
    width: 100%;
    opacity: 0;
}

.jsselected3 {
    animation: changeopacity1 0.5s ease-in  1 forwards;
}
.jsselected4 {
    animation: changeopacity2 0.5s ease-in  1 forwards;
}
@keyframes changeopacity1 {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes changeopacity12 {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.thirdpage {
    display: block;
    position: relative;
    height: 120vh;
    width: 100%;
    background: black;
}

.thirdpage .innerblock {
    float: left;
    position: relative;
    height: 50%;
    width: 100%;
}

.thirdpage .pic-1 {
    margin: 2%;
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 60%;
    background: url(../img/02-gallery/img-01.jpg) center top no-repeat;
    background-size: contain;
}

.thirdpage .pic-2 {
    display: inline-block;
    position: absolute;
    top: 35%;
    left: 65%;
    width: 25%;
    height: 50%;
    background: url(../img/02-gallery/subheadline-pc_sp.png) center top no-repeat;
    background-size: contain;
}

.thirdpage .pic-3 {
    position: absolute;
    display: inline-block;
    height: 30%;
    width: 5%;
    right: 3%;
    bottom: 0;
    background: url(../img/02-gallery/bt-detail.png) center top no-repeat;
    background-size: contain;
    opacity: 1;
    transition: linear 0.1s;
    cursor: pointer;
    pointer-events: auto;
}

.thirdpage .pic-3:hover {
    opacity: 0.5;
}

.thirdpage .pic-4 {
    position: absolute;
    display: inline-block;
    left: 2%;
    height: 90%;
    width: 24%;
    top: 10%;
    background: url(../img/02-gallery/img-02.jpg) center top no-repeat;
    background-size: contain;
}

.thirdpage .pic-5 {
    position: absolute;
    left: 27%;
    top: 10%;
    display: inline-block;
    height: 90%;
    width: 24%;
    background: url(../img/02-gallery/img-03.jpg) center top no-repeat;
    background-size: contain;
}

.thirdpage .pic-6 {
    position: absolute;
    right: 1%;
    top: 10%;
    display: inline-block;
    height: 90%;
    width: 47%;
    background: url(../img/02-gallery/img-04.jpg) center top no-repeat;
    background-size: contain;
}

.forthpage {
    display: block;
    position: relative;
    height: 100vh;
    width: 100%;
    background: url(../img/03-portable/bg.jpg) center top no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.midtext {
    opacity: 0;
    position: absolute;
    top: 40%;
    width: 100%;
    height: 25%;
    background: url(../img/03-portable/headline-tab_sp.png) center top no-repeat;
}

.jsselected6 {
    animation: changemidtext1 1s ease-in 1 forwards;
}

.jsselected7 {
    animation: changemidtext2 1s ease-in 1 forwards;
}

@keyframes changemidtext1 {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes changemidtext2 {
    0%{opacity: 1;}
    100%{opacity: 0;}
}
.fifthpage {
    display: block;
    position: relative;
    height: 120vh;
    width: 100%;
    background: black;
}

.fifthpage .first {
    float: left;
    position: relative;
    height: 60%;
    width: 100%;
}

.fifthpage .second {
    float: left;
    position: relative;
    height: 40%;
    width: 100%;
}

.fifthpage .pic-1 {
    display: inline-block;
    position: absolute;
    top: 5%;
    left: 2%;
    width: 60%;
    height: 100%;
    background: url(../img/03-portable/img-01.jpg) center top no-repeat;
    background-size: cover;
}

.fifthpage .pic-2 {
    display: inline-block;
    position: absolute;
    top: 5%;
    left: 66%;
    width: 30%;
    height: 100%;
    background: url(../img/03-portable/text-pclarge_sp.png) center top no-repeat;
    background-size: contain;
}

.fifthpage .pic-4 {
    position: absolute;
    display: inline-block;
    left: 2%;
    height: 90%;
    width: 31%;
    top: 10%;
    background: url(../img/03-portable/img-02.jpg) center top no-repeat;
    background-size: contain;
}

.fifthpage .pic-5 {
    position: absolute;
    left: 34.5%;
    top: 10%;
    display: inline-block;
    height: 90%;
    width: 31%;
    background: url(../img/03-portable/img-03.jpg) center top no-repeat;
    background-size: contain;
}

.fifthpage .pic-6 {
    position: absolute;
    right: 2%;
    top: 10%;
    display: inline-block;
    height: 90%;
    width: 31%;
    background: url(../img/03-portable/img-04.jpg) center top no-repeat;
    background-size: contain;
}

.big-img {
    width: 100%;
    height: 100vh;
    position: relative;
    display: block;
    overflow: hidden;
}

.playstyles {
    position: absolute;
    width: 100%;
    height: 15%;
    top: 20%;
}
.part-1 {
    width: 100%;
    height: 60%;
    position: absolute;
    background: url(../img/04-playstyle/headline-01.png) center no-repeat;
    background-size: contain;
}

.part-2 {
    width: 100%;
    height: 20%;
    top: 80%;
    position: absolute;
    background: url(../img/04-playstyle/headline-02.png) center no-repeat;
    background-size: contain;
}
.part1 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 9%;
    background: url(../img/04-playstyle/bg-headline-left.png) no-repeat center bottom;
    background-size: cover;
}

.part2 {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(../img/04-playstyle/bg-headline-center.png) no-repeat center bottom;
    background-size: cover;
}

.part3 {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(../img/04-playstyle/bg-headline-right.png) no-repeat 0 47%;
    background-size: cover;
}

.threeparts {
    position: relative;
    overflow: hidden;
    height: 60%;
    width: 100%;
}

.jsselectedleft1 {
    animation: leftup1 1s ease-out  1 forwards;
}
.jsselectedright1 {
    animation: rightup1 1s ease-out  1 forwards ;
}
@keyframes leftup1{
    0%{top: 9%;}
    100%{
    top: 0;
}
}
@keyframes rightup1{
    0%{background-position-y: 47%;}
    100%{background-position-y: 100%;}
}
.sixthpage {
    position: relative;
    top: -35vh;
    height: 100vh;
    width: 100%;
    background: white;
}

.mode {
    display: block;
    position: absolute;
    width: 30%;
    height: 100%;
}

.TV {
    left: 4%;
}

.Tabletop {
    left: 35%;
}

.Handheld {
    right: 4%;
}

.TV .imgs, .Tabletop .imgs, .Handheld .imgs {
    width: 100%;
    display: block;
    position: absolute;
    height: 62%;
}


.TV .img-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/04-02-mode/tv01.jpg) no-repeat left;
    background-size: cover;
    animation: change1 6s linear infinite backwards;
}

.TV .img-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/04-02-mode/tv02.jpg) no-repeat left;
    background-size: cover;
    animation: change2 6s linear infinite backwards;
}

.TV .img-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/04-02-mode/tv03.jpg) no-repeat left;
    background-size: cover;
    animation: change3 6s linear infinite backwards;
}

.Tabletop .img-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/04-02-mode/table01.jpg) no-repeat left;
    background-size: cover;
    animation: change1 6s linear infinite backwards;
}

.Tabletop .img-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/04-02-mode/table02.jpg) no-repeat left;
    background-size: cover;
    animation: change2 6s linear infinite backwards;
}
.Tabletop .img-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/04-02-mode/table03.jpg) no-repeat left;
    background-size: cover;
    animation: change3 6s linear infinite backwards;
}
.Handheld .img-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/04-02-mode/hh01.jpg) no-repeat left;
    background-size: cover;
    animation: change1 6s linear infinite backwards;
}
.Handheld .img-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/04-02-mode/hh02.jpg) no-repeat left;
    background-size: cover;
    animation: change2 6s linear infinite backwards;
}
.Handheld .img-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/04-02-mode/hh03.jpg) no-repeat left;
    background-size: cover;
    animation: change3 6s linear infinite backwards;
}

@keyframes change1 {
    0% {width: 100%; z-index: 3;}
    16.67% {width: 100%; z-index: 3;}
    33.33% {width: 100%; z-index: 3;}
    50% {width: 100%; z-index: 1;}   
    66.67% {width: 0; z-index: 1;}
    83.33% {width: 0; z-index: 3;}
    100% {width: 100%; z-index: 3;}
}

@keyframes change2 {
    0% {width: 0; z-index: 2;} 
    16.67% {width: 0; z-index: 3;}
    33.33% {width: 100%; z-index: 3;} 
    50% {width: 100%; z-index: 2}; 
    66.67% {width: 100%; z-index: 2;}
    83.33% {width: 100%; z-index: 2;}
    100% {width: 0; z-index: 2;}
}

@keyframes change3 {
    0% {width: 0; z-index: 1;}
    16.67% {width: 0; z-index: 1;}
    33.33% {width: 0; z-index: 1;}
    50% {width: 0; z-index: 3;}
    66.67% {width: 100%; z-index: 3;}
    83.33% {width: 100%; z-index: 2;}
    100% {width: 100%; z-index: 1;}
}

.subtitle {
    left: 10%;
    width: 80%;
    display: block;
    height: 12%;
    position: absolute;
    top: 55%;
    background: black;
    z-index: 4;
}

.TV .part_1 {
    position: absolute;
    background: url(../img/04-02-mode/h-01-jp.png) no-repeat center;
    top: 27%;
    height: 33%;
    background-size: contain;
    width: 100%;
}

.TV .part_2 {
    position: absolute;
    background: url(../img/04-02-mode/h-01-en.png) white no-repeat center;
    height: 20%;
    top: 75%;
    left: 2%;
    background-size: contain; 
    width: 96%;
}

.Tabletop .part_1 {
    position: absolute;
    background: url(../img/04-02-mode/h-02-jp.png) no-repeat center;
    top: 27%;
    height: 33%;
    background-size: contain;
    width: 100%;
}

.Tabletop .part_2 {
    position: absolute;
    background: url(../img/04-02-mode/h-02-en.png) white no-repeat center;
    height: 20%;
    top: 75%;
    left: 2%;
    background-size: contain; 
    width: 96%;
}

.Handheld .part_1 {
    position: absolute;
    background: url(../img/04-02-mode/h-03-jp.png) no-repeat center;
    top: 27%;
    height: 33%;
    background-size: contain;
    width: 100%;
}

.Handheld .part_2 {
    position: absolute;
    background: url(../img/04-02-mode/h-03-en.png) white no-repeat center;
    height: 20%;
    top: 75%;
    left: 2%;
    background-size: contain; 
    width: 96%;
}

.title {
    height: 20%;
    left: 10%;
    width: 80%;
    top: 67%;
    position: absolute;
    display: block;
}

.TV .title {
    background: url(../img/04-02-mode/lead-01.png) no-repeat center;
    background-size: contain;
}

.Tabletop .title {
    background: url(../img/04-02-mode/lead-02.png) no-repeat center;
    background-size: contain;
}

.Handheld .title {
    background: url(../img/04-02-mode/lead-03.png) no-repeat center;
    background-size: contain;
}

.des {
    width: 80%;
    display: block;
    position: absolute;
    height: 20%;
    top: 87%;
    left: 10%;
    line-height: 200%;
}

.Imgfour {
    position: relative;
    height: 90vh;
    width: 67%;
    display: inline-block;
    background: black;
}

.Imgfour .img1 {
    background: url(../img/05-02-world/ph01.jpg) no-repeat top center;
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 1;
    animation: big1 12s linear infinite backwards ;
}
.Imgfour .img2 {
    background: url(../img/05-02-world/ph02.jpg) no-repeat top center;
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: big2 12s linear infinite backwards ;
}

.Imgfour .img3 {
    background: url(../img/05-02-world/ph03.jpg) no-repeat top center;
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: big3 12s linear infinite backwards ;
}
.Imgfour .img4 {
    background: url(../img/05-02-world/ph04.jpg) no-repeat top center;
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: big4 12s linear infinite backwards ;
}

@keyframes big1 {
    0% {opacity: 1;}
    8.32% {opacity: 1;}
    16.67% {opacity: 0;}
    25% {opacity: 0;}
    33.32% {opacity: 0;}
    41.65% {opacity: 0;}
    50% {opacity: 0;}
    58.31% {opacity: 0;}
    66.66% {opacity: 0;}
    75% {opacity: 0;}
    83.33% {opacity: 0;}
    91.63% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes big2 {
    0% {opacity: 0;}
    8.32% {opacity: 0;}
    16.67% {opacity: 0;}
    25% {opacity: 1;}
    33.32% {opacity: 1;}
    41.65% {opacity: 0;}
    50% {opacity: 0;}
    58.31% {opacity: 0;}
    66.66% {opacity: 0;}
    75% {opacity: 0;}
    83.33% {opacity: 0;}
    91.63% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes big3 {
    0% {opacity: 0;}
    8.32% {opacity: 0;}
    16.67% {opacity: 0;}
    25% {opacity: 0;}
    33.32% {opacity: 0;}
    41.65% {opacity: 0;}
    50% {opacity: 1;}
    58.31% {opacity: 1;}
    66.66% {opacity: 0;}
    75% {opacity: 0;}
    83.33% {opacity: 0;}
    91.63% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes big4 {
    0% {opacity: 0;}
    8.32% {opacity: 0;}
    16.67% {opacity: 0;}
    25% {opacity: 0;}
    33.32% {opacity: 0;}
    41.65% {opacity: 0;}
    50% {opacity: 0;}
    58.31% {opacity: 0;}
    66.66% {opacity: 0;}
    75% {opacity: 1;}
    83.33% {opacity: 1;}
    91.63% {opacity: 0;}
    100% {opacity: 0;}
}
.besider {
    display: block;
    height: 100%;
    position: absolute;
    width: 33%;
    top: 0;
    left: 67%;
    background: black;
}

.besider .text1 {
    width: 84%;
    height: 3.5%;
    display: block;
    top: 8%;
    left: 7%;
    position: absolute;
    background: white;
    font-size: 12px;
    font-weight: bold;
    padding-left: 2%;
    line-height: 18px;
}

.besider .maxnum {
    position: absolute;
    height: 18%;
    width: 100%;
    display: block;
    top: 15%;
    left: 7%;
    width: 84%;
    visibility: visible;
    background: url(../img/05-02-world/subheadline-pc_sp.png) no-repeat top left; 
    background-size: cover;
}

.besider .text2 {
    width: 84%;
    height: 7%;
    display: block;
    top: 36%;
    left: 7%;
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    
    line-height: 25px;
    color: white;
}

.besider .text3 {
    width: 84%;
    height: 3.5%;
    display: block;
    top: 52%;
    left: 7%;
    position: absolute;
    background: white;
    padding-left: 2%;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
}

.besider .text4 {
    width: 84%;
    height: 7%;
    display: block;
    top: 60%;
    left: 7%;
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    line-height: 25px;
    color: white;
}

.besider .text5 {
    width: 84%;
    height: 7%;
    display: block;
    top: 80%;
    left: 7%;
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    line-height: 25px;
    color: white;
}

.style {
    position: relative;
}

.Joy-Con {
    height: 100vh;
    width: 100%;
    display: block;
    position: relative;
}

.controlers {
    position: absolute;
    height: 100%;
    width: 100%;
}

.controlers .controler1 {
    left: 11%;
    top: 2%;
    position: absolute;
    opacity: 0;
}

.controlers .controler2 {
    top: 20%;
    right: 11%;
    position: absolute;
    opacity: 0;
}
.jsselectedleft2 {
    animation: leftup2 1.5s ease-out  1 forwards;
}
.jsselectedright2 {
    animation: rightdown2 1.5s ease-out  1 forwards;
}
@keyframes leftup2 {
    0% {top: 2%; opacity: 0;}
    100%{top: 11%; opacity: 1;}
}
@keyframes rightdown2{
    0% {top: 20%; opacity: 0;}
    100%{top: 11%; opacity: 1;}
}
.Joy-Con .text1 {
    position: absolute;
    height: 15%;
    width: 35%;
    top: 35%;
    left: 32.5%;
    background: url(../img/05-joycon/title_text01.png) center top no-repeat;
    background-size: contain;
    border-bottom: 2px solid red;
    padding-bottom: 6px;
}

.Joy-Con .text2 {
    position: absolute;
    height: 4%;
    top: 55%;
    width: 100%;
    background: url(../img/05-joycon/title_text02.png) center top no-repeat;
    background-size: contain;
}

.Joy-Con .text3 {
    position: absolute;
    top: 65%;
    left: 33%;
    width: 34%;
    text-align: center;
    line-height: 2.25;
    font-size: 16px;
    font-weight: bold;
}

.thecontrolers {
    height: 100vh;
    width: 100%;
    display: block;
    position: relative;
}

.leftpart {
    position: absolute;
    width: 45%;
    display: block;
    height: 100%;
}

.leftpart img {
    position: absolute;
    bottom: 3%;
    left: 0;
    width: 100%;
}

.rightpart {
    position: absolute;
    width: 45%;
    display: block;
    height: 100%;
    top: 18.5%
}
.jsselectedright3 {
    animation: rightup2 1.5s ease-out  1 forwards ;
}
@keyframes rightup2 {
    0% {top: 18.5%;}
    100%{top: 0;}
}
.rightpart img {
    position: absolute;
    bottom: 3%;
    left: 0;
    width: 100%;
}

.bigimg {
    position: absolute;
    right: 3%;
    top: 3%;
    height: 75%;
    width: 65%;
    
}

.bigimg img {
    width: 100%;
    height: 100%;
}

.thecontrolers .text {
    position: absolute;
    height: 10%;
    width: 45%;
    left: 52%;
    bottom: 3%;
    font-size: 16px;
    line-height: 36px;
}

.biggallery {
    width: calc(100% - 80px);
    position: relative;
    height: 277vh;
    margin: 40px;
    display: block;
}

.biggallery img {
    height: 100%;
    width: 100%;
    display: block;
}

.biggallery .img-1{
    position: absolute;
    width: 60%;
}

.biggallery .img-2 {
    position: absolute;
    left: 60%;
    width: 40%;
}

.biggallery .img-3 {
    position: absolute;
    top: 27.57%;
    width: 40%
}

.biggallery .img-4 {
    position: absolute;
    top: 27.57%;
    width: 40%;
    left: 40%;
}

.biggallery .img-5 {
    position: absolute;
    top: 27.57%;
    width: 20%;
    left: 80%;
}

.biggallery .img-6 {
    position: absolute;
    top: 41.36%;
    left: 80%;
}

.biggallery .img-7 {
    position: absolute;
    top: 41.36%;
    width: 40%;
}

.biggallery .img-8 {
    position: absolute;
    top: 55.15%;
    left: 40%;
    width: 20%;
}

.biggallery .img-9 {
    position: absolute;
    top: 55.15%;
    left: 60%;
    width: 40%;
}

.biggallery .img-10 {
    position: absolute;
    top: 68.93%;
    width: 60%;
}

.biggallery .img-11 {
    position: absolute;
    top: 82.72%;
    width: 25%;
}

.biggallery .img-12 {
    position: absolute;
    top: 82.72%;
    width: 50%;
    left: 25%;
}

.biggallery .img-13 {
    position: absolute;
    top: 82.72%;
    width: 25%;
    left: 75%;
}

.joyworld {
    height: 90vh;
    width: 100%;
    position: relative;
    background: url(../img/05-02-world/bg.png) repeat-x;
    background-size: auto 100%;
    animation: changeback 100s linear infinite backwards;
}

@keyframes changeback {
    from {
        background-position: 3176px top;
    }
    to {
        background-position: 0 top;
    }
}

.joyworld .leftpart {
    position: absolute;
    margin-left: 5%;
    width: 38%;
    background: url(../img/05-joycon/headline-pc_sp.png) no-repeat center center;
    background-size: contain;
}

.joyworld .rightpart {
    position: absolute;
    left: 50%;
    width: 39%;
}
.joyworld  .lead {
    padding: 6px 18px;
    background: rgb(230, 0, 18);
    color: white;
    display: inline-block;
    font-weight: bold;
    font-size: 24px;
}

.joyworld .rightpart .upperpart {
    height: 40%;
    margin-top: 15%;
}

.joyworld .rightpart .upperpart .text {
    margin-top: 5%;
    font-size: 14px;
    line-height: 28px;
    font-weight: bold;
}

.joyworld .rightpart .lowerpart .text {
    margin-top: 5%;
    margin-left: 32%;
    font-size: 14px;
    line-height: 28px;
    font-weight: bold;
}

.oneimg {
    position: absolute;
    width: 30%;
    bottom: 10%;
    left: 0;
}

.bigimg2 {
    width: 100%;
}

.bigimg2 img {
    width: 100%;
}

.menu {
    position: relative;
    width: 100%;
    background: rgb(230, 0, 18);
    height: 400vh;
}

.menulogo {
    width: 50%;
    position: absolute;
    left: 25%;
    margin: 0;
}

.menulogo img {
    display: block;
    height: 200px;
    display: block;
    width: 100%;
    margin: 91px 0 0 0;
}

.timetosale {
    color: #fff;
    font-size: 34px;
    margin-bottom: 58px;
    text-align: center;
    display: block;
    width: 70%;
    margin: auto;
    border-bottom: 3px solid white;
}

.timetosale img {
    width: 80%;
    height: 100%;
    padding: 350px 0 30px 0;
}

.videos {
    width: 70%;
    margin: 50px auto 0;
}

.video {
    width: 32.9%;
    display: inline-block;
    margin: 0 auto;
    transition: opacity 1s;
}
.video img {
    width: 100%;
}

.video .t {
    color: white;
    font-size: 14px;
    margin-top: 14px;
}
.video .s {
    font-size: 12px;
    margin-top: 10px;
    color: #fff;
    opacity: 0.6;
}

.video:hover {
    opacity: 0.7;
    transition: linear;
}

.switch2017 {
    width: 70%;
    padding: 28px 0;
    margin: 0 auto 90px;
    border-bottom: 3px solid white;
}
.switch2017 img {
    background: white;
}

.lineup {
    width: 70%;
    margin: 0 auto;
    background: white;
}
.lineup img, .techspecs img, .accessories img,.controls img, .software img,.switch2017 img{
    width: 100%;
    cursor: pointer;
    background: white;
}

.techspecs {
    width: 34%;
    margin-left: 15%;
    margin-right: 1%;
    display: inline-block;
    margin: 10px 1% 10px 15%;
    background: white;
}

.accessories {
    display: inline-block;
    width: 34%;
    margin-right: 15%;
    background: white;
}
.controls {
    width: 34%;
    margin-left: 15%;
    margin-right: 1%;
    display: inline-block;
    margin: 0 1% 40px 15%;
    background: white;
}

.software {
    width: 70%;
    margin: 40px auto;
    padding: 28px 0;
    border-top: 3px solid white;
}

.lineup :hover, .techspecs :hover, .accessories:hover ,.controls :hover, .software :hover, .switch2017:hover{
    transition: 0.5s linear;
    opacity: 0.7;
}

.blacklayer1, .blacklayer2, .blacklayer3, .blacklayer4, .blacklayer5,.blacklayer6, .blacklayer7, .blacklayer8, .blacklayer9, .blacklayer10,.blacklayer11,.blacklayer12, .blacklayer13, .blacklayer14{
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    /* z-index: 3; */
}

.upblacklayer1,.upblacklayer2,.upblacklayer3,.upblacklayer4, .upblacklayer5, .upblacklayer6{
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
}

.jsselected5 {
    animation: blacklayer1 0.5s ease-in  1 forwards;
}
.jsselectedup {
    animation: blackup 0.5s ease-in 1 forwards ;
}
@keyframes blacklayer1 {
    0%{width: 100%;}
    100% {width: 0;}
}

@keyframes blackup {
    0%{height: 100%;}
    100%{height: 0;}
}

.foot {
    height: 20%;
    width: 100%;
}

.video .play {
    display: block;
    width: 50px;
    height: 50px;
    transform: translateX(-50%) translateY(-50%);
    background: url(../img/06-menu/icon_play.svg) no-repeat center;
    opacity: 0.5;
    background-size: cover;
    position: relative;
    top: -88px;
    right: -161px;
}


.company span{
    font-size: 12px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    color: white
}


/*以下为新添加内容*/
.black-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    pointer-events: none;
    opacity: 0;
    transform: scale(1, 0);
    transition: all 300ms;
    transition-delay: 200ms;
    margin: 0;
    padding: 0;
    display: block;
}

.new-window {
    opacity: 0;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    transition: opacity 300ms;
    transition-delay: 200ms;
    display: block;
}


.slide-gallery {
    position: absolute;
    top: 10%;
    right: 0;
    left: 0;
    height: 80%;
}

.close-btn {
    height: 56px;
    width: 56px;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 1;
    pointer-events: none;
    background: url(../img/close-fill-white.svg);
    z-index: 10000;
    cursor: pointer;
}

.slider {
    display: block;
    position: absolute;
    transition: opacity 300ms;
    transition-delay: 200ms;
    margin-right: 14px;
    height: 100%;
    width: 100%;
}

.sliders {
    margin: 0 auto 44px;
    width: 70%;
    height: 100%;
    overflow: hidden;
}

.slider-container {
    position: relative;
    height: 95%;
    width: 100%;
    margin: 0;
    transition: transform 0.5s ease-in-out;
}

.slider img {
    width: 100%;
    height: 100%;
}

.item1 {
    transform: translate(0, 0);
}

.item2 {
    transform: translate(105%,0);
}

.item3 {
    transform: translate(210%,0);
}

.item4 {
    transform: translate(315%,0);
}

.black-bg-selected {
    transform: scale(1,1);
    opacity: 1;
}

.sliders-selected {
    opacity: 1;
}

.bottom-btn {
    text-align: center;
}

.item-nav {
    display: inline-block;
    position: relative;
}

.buttom {
    width: 21px;
    margin-right: 4px;
    cursor: pointer;
    position: relative;
    float: left;
    height: 4px;
    border-radius: 2px;
    background-color: #d9d9d9;
    z-index: 10000;
}

.inner-red {
    transform: scale(0,1);
    background-color: #e60012;
    height: 100%;
    border-radius: 2px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transform-origin: left bottom;
}

.buttom-selected {
    animation: changeColor 6s linear  1  ;
}
@keyframes changeColor {
    from {transform: scale(0,1)}
    to {transform: scale(1,1)}
}