::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    width: 100%;
}

.head-text, .text-des-ad, .change-btn, .change-btn, .kindle-title, .box {
    text-align: center;
}

.main-page {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    overflow: hidden;
}

.head-text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10%;
    margin: auto;
    width: fit-content;
    height: fit-content;
}

.inline-logo {
    display: inline-block;
    height: fit-content;
    width: fit-content;
}

.status-line {
    opacity: 0;
    position: relative;
    right: 47%;
    top: -13%;
    transition: opacity 2s linear;
}

.status-square {
    opacity: 0;
    transform: translateY(-350%);
    transition: opacity 2s linear, transform 2s ease-out;
}

.logo-d {
    position: relative;
    top : -4.5%;
    left: -13.6%;
}

.logo-kin, .logo-d, .logo-le {
    opacity: 0;
    transition: opacity 1s linear;
    transition-delay: 1s;
}

.square-selected {
    opacity: 1;
    transform: translateY(25%);
}

.logo-selected {
    opacity: 1;
}

.hover-div {
    height: 400px;
    width: 400px;
    border-radius: 50% 50% 50% 50%;
    position: absolute;
    background: url(../../切图/header/img-original-bg.png) fixed center center no-repeat;
    background-size: 100% 100%;
}

.nav {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    margin-right: 16px;
    height: 158px;
    width: 158px;
    color: white;
    z-index: 1000;
}

.origin-pic {
    position: absolute;
    opacity: 1;
    transform: scale(1,1) translate(260%, 100%);
    transition: transform 1s, opacity 4s ease-in-out;
}

.choices {
    opacity: 0;
    position: absolute;
    transform: translate(150%,50%);

    transition: transform 1s 0.5s, opacity 1s 0.5s ease-in-out;
}

.nav:hover .origin-pic {
    transform: scale(1.5,1.5) translate(175%, 70%);
    opacity: 0;
    pointer-events: none;
}

.nav:hover .choices {
    opacity: 1;
}

.nav:hover .top-tag {
    position: absolute;
    transform: translate(80%,-12%);
}

.nav:hover .kindle-tag {
    position: absolute;
    transform: translate(12%, 50%);
}

.nav:hover .search-tag {
    position: absolute;
    transform: translate(150%, 50%);
}

.nav:hover .main-tag {
    position: absolute;
    transform: translate(80%, 112%);
}

.read-feel {
    height: 100vh;
    width: 100%;
    background: url(../../切图/Banner1/banner_bg.png) center center no-repeat;
    background-size: cover;
    display: flex;
}

.kindle-mac {
    display: flex;
    height: 100%;
    width: fit-content;
}

.kindle-mac img {
    height: 90%;
    margin: 10% 0 10% 20px;
}

.text-des {
    padding-top: 10%;
    padding-left: 2%;
}

.text-des img{
    display: block;
}

.second-text-des {
    margin: 20px auto 100px 20px;
}

.advantages {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.advantage1 {
    background: url(../../切图/Banner2/01/img_1.png) center center no-repeat;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    position: absolute;
}

.advantage2 {
    background: url(../../切图/Banner2/02/img_2.png) center center no-repeat;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    transform: translateX(100%);
}

.advantage3 {
    background: url(../../切图/Banner2/03/img_3.png) center center no-repeat;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    transform: translateX(200%);
}

.content-container {
    height: 100%;
    position: relative;
    transition: transform 1s ease-out;
}

.top-barrier {
    position: absolute;
    z-index: 100;
    top: 0;
    width: 100%;
}

.text-des-ad {
    height: 100%;
    width: 45%;
    background-size: 100%;
    margin-left: 4%;
}

.number1 {
    background: url(../../切图/Banner2/01/img_square.png) center center no-repeat;
    background-size: 100%;
}

.number2 {
    background: url(../../切图/Banner2/02/img_square.png) center center no-repeat;
    background-size: 100%;
}

.number3 {
    background: url(../../切图/Banner2/03/img_square.png) center center no-repeat;
    background-size: 100%;
}

.first-des-ad {
    margin-top: 40%;
}

.second-des-ad, .third-des-ad {
    margin-top: 20px;
}

.little-square {
    position: absolute;
    top: 80%;
    left: 40%;
}

.change-btn {
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.change-btn img {
    margin: 0 35px;
}

.left-btn, .right-btn {
    display: inline;
}

.know-more,  .more-about-kindle{
    padding: 40px 0;
    width: 100%;
    height: 80vh;
}

.card {
    background: url(../../切图/list/img_card.png) no-repeat;
    background-size: cover;
    display: flex;
    width: 80%;
    margin: 0 auto;
    height: 98%;
}

.sample-mac{
    height: 100%;
}

.sample-mac img {
    margin: 40px 20px;
    height: 86%;
}

.left-bar img{
    height: 94%;
}

.right-bar {
    width: 80%;
    height: 101%;
    background: url(../../切图/list/img_square2.png)  no-repeat;
    background-size: contain;
}

.kindle-title {
    width: 80%;
    margin: 80px auto;
}

.know-more-link, .buy-link {
    width: 80%;
    margin: 50px auto;
}

.next {
    margin-left: 40px;
}

.card2 {
    background: url(../../切图/list/img_card.png) no-repeat;
    background-size: cover;
    width: 910px;
    margin: 0 auto;
    height: 638px;
}

.box {
    float: left;
    height: 300px;
    width: 300px;
}

.box img {
    transform: scale(0.8,0.8);
    margin: 40% 10% 10% 10%;
}

.box .arrow1 {
    margin: 0;
    transform: rotate(180deg);
}

.box .arrow2, .box .arrow3{
    margin: 10% 0 -20% 0;
}


.box:nth-child(2n-1) {
    background: url(../../落下的。。。我的锅/img_square.png) center center no-repeat;
    background-size: contain;
}

.footer {
    background: url(../../落下的。。。我的锅/底.png);
    margin-top: 80px;
    padding-top: 40px;
}

.details img {
    vertical-align: text-top;
    margin-top: 60px;
    margin-left: 130px;
}

.copyright img {
    margin: 80px auto 33px 40px;
}