body {
    height: 400vh;
}

.danmu-div {
    left: 0;
    top: 0;
    position: absolute;
    height: calc(100% - 45px);
    width: 100%;
}

.dammu-player {
    background: gray;
    overflow: hidden;
}

.dammu-player video {
    width: 100%;
    height: calc(100% - 45px);
    margin: 0;
    padding: 0;
}

.dammu-player .main-ctrl {
    height: 45px;
    width: 100%;
    position: relative;
}

.dammu-player :not(:first-child){
    display: inline-block;   
}

.dammu-player .video-progress {
    width: 100%;
    height: 10px;
    background-color: #AAAAAA;
    cursor: pointer;
}

.dammu-player .current-progress {
    position: relative;
    height: 10px;
    background: dodgerblue;
    width: 0;
    /*transition: width 1s linear;*/
}

.dammu-player .porgress-handle {
    position: absolute;
    height: 14px;
    width: 14px;
    right: -2px;
    top: -2px;
    background-color: black;
    border-radius: 50%;
    z-index: 1004;
    overflow: visible;
}

.dammu-player .playbtn{
    width: 35px;
    height: 35px;
    background: url(../img/play.png) no-repeat center center;
    background-size: cover;
    color: white;
    text-align: center;
    cursor: pointer;
}

.dammu-player .voice {
    height: 35px;
    width: 35px;
    background: url(../img/voice.png) no-repeat center center;
    background-size: 70% 70%;
    display: inline-block;
    z-index: 20000;
}

.dammu-player .current-time, .dammu-player .total-time {
    height: 35px;
    width: auto;
    line-height: 100%;
}

.dammu-player .send-danmu {
    color: white;
    background-color: dodgerblue;
    line-height: 25px;
    cursor: pointer;
    text-align: center;
    display: inline;
}

.dammu-player .send-danmu:hover {
    background-color:#222;;
}

.dammu-player .bullet {
    position: absolute;
    right: -20%;
    transition: right 6s;
    font-weight: bold;
    line-height: 14px;
    overflow: hidden;
}

.dammu-player .close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    height: 20px;
    width: 20px;
    background: url(../img/close.png) no-repeat center center;
    background-size: cover;
    z-index: 10000;
    display: none;
    cursor: pointer;
}

.dammu-player input[type="text"] {
    width: 25%
}

.dammu-player input[type="range"] {
    width: 20%;
    transition: width 2s;
    display: inline-block;
}

.dammu-player .full-screen, .dammu-player .on-or-off{
    cursor: pointer;
}
